/* PHASE 2: Notifications */
.badge{
  /*float: right;*/
  display: inline-block;
  /*radius:5px;*/
  background: #000;
  border: 1px solid #000;
  border-radius: 100px;
  padding: 0px 5px;
  font-size: 14px;
}

.header-li:hover .badge {
  background: #f00;
}

.notification-dropdown {
  display:none;
  font-size: 14px;
}

.notification-dropdown li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  white-space: nowrap;
}

.notification-dropdown li:hover {
  background: #eee;
}

.header-li:hover .notification-dropdown {
  position:absolute;
  top: 40px;
  left: -1px;
  display:block;
  color: #000;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
