/* PHASE 3: Layout */
.content{
  margin: 0 auto;
  width: 900px;
  background: #fff;
  display: flex;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 240px;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 240px;
  background: #ccc;
}

.content-sidebar {
  /*border-right: 1px solid #ccc;*/
  position: relative;
  float:left;
  width:200px;
  margin: 20px;
}

.content-main {
  float:left;
  width: 660px;
  position: relative;
}
