/* PHASE 4: Footer */
footer {
  margin: 0 auto;
  width: 900px;
  background: #fff;
  display: flex;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: #aaa;
  justify-content: space-between;
}

footer h2 {
  display:flex;
  font-weight: 700px;
  padding: 20px;
}

footer ul {
  display: flex;
  padding-right: 10px;
}

footer ul li {
  display:flex;
  padding: 20px 10px;
}

footer ul li:hover{
  color: #000;
}
